<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.modules.sys.dao.MenuDao">
	<resultMap id="BaseResultMap" type="com.tx.framework.web.modules.sys.entity.Menu">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="parent_id" property="parentId" jdbcType="CHAR" />
		<result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="href" property="href" jdbcType="VARCHAR" />
		<result column="target" property="target" jdbcType="VARCHAR" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="is_show" property="isShow" jdbcType="CHAR" />
		<result column="is_activiti" property="isActiviti" jdbcType="CHAR" />
		<result column="permission" property="permission" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="CHAR" />
	</resultMap>

	<!-- 根据用户id查找权限 -->
	<select id="findByUserId" parameterType="String" resultMap="BaseResultMap">
		select distinct sys_menu.* 
		from sys_user 
		left join sys_user_role on sys_user.id = sys_user_role.user_id
		left join sys_role on sys_user_role.role_id = sys_role.id
		left join sys_role_menu on sys_role.id = sys_role_menu.role_id
		left join sys_menu on sys_role_menu.menu_id = sys_menu.id
		where sys_user.id = #{id}
		order by sys_menu.sort
	</select>
</mapper>