<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.dao.attachment.AttachmentDao">
	<resultMap id="BaseResultMap" type="Attachment">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="service_type" property="serviceType" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="valid" property="valid" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="attachment_name" property="attachmentName"
			jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="INTEGER" />
		<result column="service_id" property="serviceId" jdbcType="CHAR" />
		<result column="attachment_type" property="attachmentType"
			jdbcType="TINYINT" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
	</resultMap>

	<!-- 删除附件信息 -->
	<delete id="delete" parameterType="java.lang.String">
		delete from attachment where
		id = #{id,jdbcType=CHAR}
	</delete>
	
	<!-- 删除某业务id对应的附件信息 -->
	<delete id="deleteByServiceId" parameterType="java.lang.String">
		delete from attachment where
		service_id = #{serviceId,jdbcType=CHAR}
	</delete>
	
	<!-- 根据业务类型、业务id、附件类型查找附件 -->
	<select id="findByParams" parameterType="Map" resultMap="BaseResultMap">
		select * from attachment
		<where>
			<if test="serviceId != null and serviceId != ''">
				and service_id = #{serviceId}
			</if>
			<if test="serviceType != null and serviceType != ''">
				and service_type = #{serviceType}
			</if>
			<if test="attachmentType != null and attachmentType != ''">
				and attachment_type = #{attachmentType}
			</if>
		</where>
		order by sort
	</select>
	
	<!-- 根据id查找附件 -->
	<select id="findOne" parameterType="String" resultMap="BaseResultMap">
		select * from attachment
		where id = #{id}
	</select>
	
	<!-- 查询所有附件 -->
	<select id="findAll" resultMap="BaseResultMap">
		select * from attachment
	</select>

	<!-- 保存附件信息 -->
	<insert id="save" parameterType="Attachment">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select REPLACE(UUID(),'-','')
		</selectKey>
		insert into attachment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="serviceType != null">
				service_type,
			</if>
			<if test="path != null">
				path,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="attachmentName != null">
				attachment_name,
			</if>
			<if test="size != null">
				size,
			</if>
			<if test="serviceId != null">
				service_id,
			</if>
			<if test="attachmentType != null">
				attachment_type,
			</if>
			<if test="sort != null">
				sort,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="serviceType != null">
				#{serviceType,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="attachmentName != null">
				#{attachmentName,jdbcType=VARCHAR},
			</if>
			<if test="size != null">
				#{size,jdbcType=INTEGER},
			</if>
			<if test="serviceId != null">
				#{serviceId,jdbcType=CHAR},
			</if>
			<if test="attachmentType != null">
				#{attachmentType,jdbcType=TINYINT},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>