<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.dao.customer.CustomerDao">
	<resultMap id="BaseResultMap" type="Customer">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="photo" property="photo" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="pos" property="pos" jdbcType="VARCHAR" />
		<result column="job" property="job" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="BIT" />
		<result column="birthday" property="birthday" />
		<result column="idcard" property="idcard" jdbcType="VARCHAR" />
		<result column="spell" property="spell" jdbcType="VARCHAR" />
		<result column="name" property="customerName" jdbcType="VARCHAR" />
		<result column="valid" property="valid" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="sexCh" property="sexCh" />
	</resultMap>

	<!-- 查询会员分页 -->
	<select id="getPage" resultMap="BaseResultMap">
		select a.*,IF(a.sex=1,'男','女') as sexCh from customer a
		<where>
			<if test="po.param != null and po.param != ''">
				name like CONCAT('%',#{po.param},'%') or
				mobile like CONCAT('%',#{po.param},'%')
			</if>
		</where>
	</select>

	<!-- 根据id查找会员信息 -->
	<select id="findOne" parameterType="String" resultMap="BaseResultMap">
		select a.*,IF(a.sex=1,'男','女') as sexCh from customer a
		where id=#{id}
	</select>
	
	<!-- 根据用户名 -->
	<select id="findByName" parameterType="String" resultMap="BaseResultMap">
		select id,name from customer where valid=1
		<if test=" _parameter != null and  _parameter != ''">
			and name = #{customerName}
		</if>
	</select>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="String">
		delete from customer where
		id=#{id}
	</delete>

	<insert id="save" parameterType="Customer">
		<selectKey resultType="String" keyProperty="id" order="BEFORE" >
	    	select REPLACE(UUID(),'-','')
	    </selectKey>
		insert into customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="company != null">
				company,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="photo != null">
				photo,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="zipcode != null">
				zipcode,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="pos != null">
				pos,
			</if>
			<if test="job != null">
				job,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="idcard != null">
				idcard,
			</if>
			<if test="spell != null">
				spell,
			</if>
			<if test="customerName != null">
				name,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="photo != null">
				#{photo,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null">
				#{zipcode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="pos != null">
				#{pos,jdbcType=VARCHAR},
			</if>
			<if test="job != null">
				#{job,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=BIT},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=DATE},
			</if>
			<if test="idcard != null">
				#{idcard,jdbcType=VARCHAR},
			</if>
			<if test="spell != null">
				#{spell,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null">
				#{customerName,jdbcType=VARCHAR},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="Customer">
		update customer
		<set>
			<if test="company != null">
				company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="photo != null">
				photo = #{photo,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null">
				zipcode = #{zipcode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="pos != null">
				pos = #{pos,jdbcType=VARCHAR},
			</if>
			<if test="job != null">
				job = #{job,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=BIT},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=DATE},
			</if>
			<if test="idcard != null">
				idcard = #{idcard,jdbcType=VARCHAR},
			</if>
			<if test="spell != null">
				spell = #{spell,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null">
				name = #{customerName,jdbcType=VARCHAR},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>