<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.dao.menu.MenuContentDao">
	<resultMap id="BaseResultMap" type="MenuContent">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="menu_id" property="menuId" jdbcType="CHAR" />
		<result column="attachment_type" property="attachmentType" jdbcType="TINYINT" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="attachment_id" property="attachmentId" jdbcType="CHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="valid" property="valid" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

</mapper>