<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.dao.menu.MenuLayoutDao">
	<resultMap id="BaseResultMap" type="MenuLayout">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="menu_type_id" property="menuTypeId" jdbcType="CHAR" />
		<result column="page_no" property="pageNo" jdbcType="INTEGER" />
		<result column="attachment_id" property="attachmentId"
			jdbcType="CHAR" />
		<result column="page_width" property="pageWidth" jdbcType="INTEGER" />
		<result column="page_height" property="pageHeight" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="map_code" property="mapCode" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 删除排版 -->
	<delete id="delete" parameterType="java.lang.String">
		delete from menu_layout where
		id = #{id,jdbcType=CHAR}
	</delete>

	<!-- 查找排版 -->
	<select id="findByParams" parameterType="Map" resultMap="BaseResultMap">
		select * from menu_layout
		<where>
			<if test="menuTypeId != null and menuTypeId != ''">
				menu_type_id = #{menuTypeId}
			</if>
			<if test="pageNo != null and pageNo != ''">
				and page_no = #{pageNo}
			</if>
		</where>
		order by page_no
	</select>
	
	<!-- 根据id查找排版 -->
	<select id="findOne" parameterType="String" resultMap="BaseResultMap">
		select * from menu_layout
		where id = #{id}
	</select>
	
	<!-- 查找图片不为空的排版 -->
	<select id="findNonEmpty" resultMap="BaseResultMap">
		select * from menu_layout where attachment_id is not null order by page_no
	</select>

	<!-- 保存排版 -->
	<insert id="save" parameterType="MenuLayout">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select REPLACE(UUID(),'-','')
		</selectKey>
		insert into menu_layout
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="menuTypeId != null">
				menu_type_id,
			</if>
			<if test="attachmentId != null">
				attachment_id,
			</if>
			<if test="pageWidth != null">
				page_width,
			</if>
			<if test="pageHeight != null">
				page_height,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="mapCode != null">
				map_code,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="menuTypeId != null">
				#{menuTypeId,jdbcType=CHAR},
			</if>
			<if test="attachmentId != null">
				#{attachmentId,jdbcType=CHAR},
			</if>
			<if test="pageWidth != null">
				#{pageWidth,jdbcType=INTEGER},
			</if>
			<if test="pageHeight != null">
				#{pageHeight,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="mapCode != null">
				#{mapCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="MenuLayout">
		update menu_layout
		<set>
			<if test="menuTypeId != null">
				menu_type_id = #{menuTypeId,jdbcType=CHAR},
			</if>
			<if test="pageNo != null">
				page_no = #{pageNo,jdbcType=INTEGER},
			</if>
			<if test="attachmentId != null">
				attachment_id = #{attachmentId,jdbcType=CHAR},
			</if>
			<if test="pageWidth != null">
				page_width = #{pageWidth,jdbcType=INTEGER},
			</if>
			<if test="pageHeight != null">
				page_height = #{pageHeight,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="mapCode != null">
				map_code = #{mapCode,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>