<#assign iCol = 12/iNum>
<#assign vCol = 12/vNum>
<#assign uploadIndex = 0>
<form action="${ctx}/attachment/createAttachment" valid="false" method="post" id="inputForm">
<input type="hidden" name="serviceType" value="${serviceType}" />
<input type="hidden" name="serviceId" value="${serviceId}" />
<div class="alert alert-info">
	图片展示（最佳尺寸为1024*768,支持jpg、png格式）
</div>
<div class="row">
	<#list 1..iNum as i>
		<#assign preview = "">
		<#list images as image>
			<#if image.sort = i> 
				<#assign preview = image.path>
				<#assign metaInfo = image.attachmentName + "|" + image.size + "|" + image.attachmentType + "|" + image.serviceType + "|" + image.serviceId + "|" + image.sort>
				<#break> 
			</#if> 
		</#list>
		<#if preview = ""> 
		<div class="col-lg-${iCol}">
			<div class="fileinput fileinput-new" data-provides="fileinput">
				<div class="fileinput-new thumbnail"
					style="width: 100px; height: 75px;">
					<img data-src="holder.js/100x75/text:图片" />
				</div>
				<div class="fileinput-preview fileinput-exists thumbnail"
					style="width: 100px; height: 75px;"></div>
				<div>
					<span class="btn btn-default btn-file"> 
						<span class="fileinput-new">选择</span> 
						<span class="fileinput-exists">重选</span>
						<input type="file" name="upload"
							data-url="${ctx}/attachment/upload/${serviceType}/${serviceId}/${i}"
							accept="image/*">
					</span> 
					<a href="#" name="meta-upload-remove"
						class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
					<input type="hidden" name="meta-upload"/>
				</div>
			</div>
		</div>
		<#else>
		<div class="col-lg-${iCol}">
			<div class="fileinput fileinput-exists" data-provides="fileinput">
				<div class="fileinput-new thumbnail"
					style="width: 100px; height: 75px;">
					<img data-src="holder.js/100x75/text:图片" />
				</div>
				<div class="fileinput-preview fileinput-exists thumbnail"
					style="width: 100px; height: 75px;">
					<img src="${ctx}/${preview}">
				</div>
				<div>
					<span class="btn btn-default btn-file"> 
						<span class="fileinput-new">选择</span> 
						<span class="fileinput-exists">重选</span>
						<input type="file" name="upload"
							data-url="${ctx}/attachment/upload/${serviceType}/${serviceId}/${i}"
							accept="image/*">
					</span> 
					<a href="#" name="meta-upload-remove"
						class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
					<input type="hidden" name="meta-upload" value="${metaInfo}"/>
				</div>
			</div>
		</div>
		</#if>
		<#assign uploadIndex=uploadIndex+1>
	</#list>
</div>
<br />
<div class="alert alert-info">
	视频（文件容量请保持在20M以内,支持mp3、mp4格式）
</div>
<div class="row">
	<#list 1..vNum as i>
		<#assign preview = "">
		<#list videos as video>
			<#if video.sort = (i+uploadIndex)> 
				<#assign preview = video.attachmentName>
				<#assign metaInfo = video.attachmentName + "|" + video.size + "|" + video.attachmentType + "|" + video.serviceType + "|" + video.serviceId + "|" + video.sort>
				<#break> 
			</#if> 
		</#list>
		<#if preview = "">
		<div class="col-lg-${vCol}">
			<div class="fileinput fileinput-new" data-provides="fileinput">
				<div class="fileinput-new thumbnail"
					style="width: 100px; height: 75px;">
					<img data-src="holder.js/100x75/text:视频" />
				</div>
				<div class="fileinput-preview fileinput-exists thumbnail"
					style="width: 100px; height: 75px;"></div>
				<div>
					<span class="btn btn-default btn-file"> 
						<span class="fileinput-new">选择</span> 
						<span class="fileinput-exists">重选</span>
						<input type="file" name="upload"
							data-url="${ctx}/attachment/upload/${serviceType}/${serviceId}/${i+uploadIndex}"
							accept="audio/mp4,video/mp4,audio/mpeg">
					</span> 
					<a href="#" name="meta-upload-remove"
						class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
					<input type="hidden" name="meta-upload"/>
				</div>
			</div>
		</div>
		<#else>
		<div class="col-lg-${vCol}">
			<div class="fileinput fileinput-exists" data-provides="fileinput">
				<div class="fileinput-new thumbnail"
					style="width: 100px; height: 75px;">
					<img data-src="holder.js/100x75/text:视频" />
				</div>
				<div class="fileinput-preview fileinput-exists thumbnail"
					style="width: 100px; height: 75px;">
					${preview}
				</div>
				<div>
					<span class="btn btn-default btn-file"> 
						<span class="fileinput-new">选择</span> 
						<span class="fileinput-exists">重选</span>
						<input type="file" name="upload"
							data-url="${ctx}/attachment/upload/${serviceType}/${serviceId}/${i+uploadIndex}"
							accept="audio/mp4,video/mp4,audio/mpeg">
					</span> 
					<a href="#" name="meta-upload-remove"
						class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
					<input type="hidden" name="meta-upload" value="${metaInfo}"/>
				</div>
			</div>
		</div>
		</#if>
	</#list>
</div>
</form>