<script type="text/javascript" src="${ctx}/static/script/jquery.ui.widget.js"></script>
<script type="text/javascript" src="${ctx}/static/script/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="${ctx}/static/script/jquery.fileupload.js"></script>
<script>
$("[name='upload']").fileupload({
	done : function(e, data) {
		if (data.result && data.resul != ""){
			$(this).parent().parent().find("[name='metaInfo']").val(data.result);
		}
	}
});
</script>
<div class="fileinput fileinput-new" data-provides="fileinput">
	<div class="fileinput-new thumbnail"
		style="width: ${width}px; height: ${height}px;">
		<img data-src="holder.js/${width}X${height}/text:请上传" />
	</div>
	<div class="fileinput-preview fileinput-exists thumbnail"
		style="width: ${width}px; height: ${height}px;"></div>
		<#if path != "">
		<img src="${ctx}/${path}">
		</#if>
	<div>
		<span class="btn btn-default btn-file"> 
			<span class="fileinput-new">选择</span> <span class="fileinput-exists">重选</span>
			<input type="file" name="upload"
				data-url="${ctx}/attachment/upload/${serviceType}" accept="image/*">
		</span> 
		<a href="#" name="meta-upload-remove"
			class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
		<input type="hidden" name="metaInfo" value="${metaInfo}"/>
	</div>
</div>