<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 使用驼峰命名法转换字段。 default:false -->
		<!-- 数据库字段a_column对应domain字段aColumn,免去写resultMap的麻烦 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>
