<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.dao.card.CardDao">
	<resultMap id="BaseResultMap" type="Card">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="card_type_id" property="cardTypeId" jdbcType="CHAR" />
		<result column="customer_id" property="customerId" jdbcType="CHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="inner_code" property="innerCode" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
		<result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="auditor" property="auditor" jdbcType="VARCHAR" />
		<result column="audit_date" property="auditDate" jdbcType="TIMESTAMP" />
		<result column="balance" property="balance" jdbcType="DOUBLE" />
		<result column="gift_balance" property="giftBalance" jdbcType="DOUBLE" />
		<result column="real_balance" property="realBalance" jdbcType="DOUBLE" />
		<result column="degree" property="degree" jdbcType="BIGINT" />
		<result column="pay_amount" property="payAmount" jdbcType="DOUBLE" />
		<result column="consume_amount" property="consumeAmount"
			jdbcType="DOUBLE" />
		<result column="discount_amount" property="discountAmount"
			jdbcType="DOUBLE" />
		<result column="status" property="status" jdbcType="BIT" />
		<result column="get_status" property="getStatus" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="active_date" property="activeDate" jdbcType="TIMESTAMP" />
		<result column="card_type_name" property="cardTypeName" />
		<result column="customer_name" property="customerName" />
		<result column="precharge" property="precharge" />
		<result column="card_status" property="cardStatus" />
		<result column="discount" property="discount" />
		<result column="forcediscount" property="forcediscount" />
	</resultMap>

	<!-- 查询卡分页 -->
	<select id="getPage" resultMap="BaseResultMap">
		select 
		a.*, b.cardtypename as card_type_name, 
		c.name as customer_name, d.name as card_status
		from card a 
		left join card_type b
		on a.card_type_id = b.id
		left join customer c
		on a.customer_id = c.id
		left join dict_card_status d
		on a.status = d.value
		<where>
			<if test="po.code != null and po.code != ''">
				and a.code like CONCAT('%',#{po.code},'%')
			</if>
			<if test="po.status != null and po.status != '' or po.status == 0">
				and a.status = #{po.status}
			</if>
			<if test="po.status1 != null and po.status2 != null">
				and (a.status = #{po.status1} or a.status = #{po.status2})
			</if>
		</where>
	</select>
	
	<!-- 查询所有卡号、内部卡号 -->
	<select id="findAll" resultMap="BaseResultMap">
		select code,inner_code from card
	</select>

	<!-- 根据id查找卡 -->
	<select id="findOne" parameterType="String" resultMap="BaseResultMap">
		select 
		a.*, b.cardtypename as card_type_name, b.precharge as precharge, 
		c.name as customer_name, d.name as card_status
		from card a 
		left join card_type b
		on a.card_type_id = b.id
		left join customer c
		on a.customer_id = c.id
		left join dict_card_status d
		on a.status = d.value
		where a.id = #{id}
	</select>
	
	<!-- 根据卡号、内部卡号查找卡数目 -->
	<select id="findCountByParams" parameterType="Map" resultType="Long">
		select count(*)
		from card
		<where>
			<if test="code != null and code != ''">
				code = #{code}
			</if>
			<if test="innerCode != null and innerCode != ''">
				and inner_code = #{innerCode}
			</if>
		</where>
	</select>
	
	<!-- 根据卡号查找卡 -->
	<select id="findByParams" parameterType="Map" resultMap="BaseResultMap">
		select a.*, b.discount, b.forcediscount, b.cardtypename as card_type_name, c.name as customer_name 
		from card a 
		LEFT JOIN card_type b on a.card_type_id=b.id
		LEFT JOIN customer c on a.customer_id=c.id
		<where>
			<if test="code != null and code != ''">
				and a.code = #{code}
			</if>
		</where>
	</select>

	<insert id="save" parameterType="Card">
		<selectKey resultType="String" keyProperty="id" order="BEFORE" >
	    	select REPLACE(UUID(),'-','')
	    </selectKey>
		insert into card
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="cardTypeId != null">
				card_type_id,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="innerCode != null">
				inner_code,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="beginDate != null">
				begin_date,
			</if>
			<if test="endDate != null">
				end_date,
			</if>
			<if test="operator != null">
				operator,
			</if>
			<if test="auditor != null">
				auditor,
			</if>
			<if test="auditDate != null">
				audit_date,
			</if>
			<if test="balance != null">
				balance,
			</if>
			<if test="giftBalance != null">
				gift_balance,
			</if>
			<if test="realBalance != null">
				real_balance,
			</if>
			<if test="degree != null">
				degree,
			</if>
			<if test="payAmount != null">
				pay_amount,
			</if>
			<if test="consumeAmount != null">
				consume_amount,
			</if>
			<if test="discountAmount != null">
				discount_amount,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="getStatus != null">
				get_status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="activeDate != null">
				active_date,
			</if>
			<if test="salt != null">
				salt,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="cardTypeId != null">
				#{cardTypeId,jdbcType=CHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=CHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="innerCode != null">
				#{innerCode,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="beginDate != null">
				#{beginDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test="auditor != null">
				#{auditor,jdbcType=VARCHAR},
			</if>
			<if test="auditDate != null">
				#{auditDate,jdbcType=TIMESTAMP},
			</if>
			<if test="balance != null">
				#{balance,jdbcType=DOUBLE},
			</if>
			<if test="giftBalance != null">
				#{giftBalance,jdbcType=DOUBLE},
			</if>
			<if test="realBalance != null">
				#{realBalance,jdbcType=DOUBLE},
			</if>
			<if test="degree != null">
				#{degree,jdbcType=BIGINT},
			</if>
			<if test="payAmount != null">
				#{payAmount,jdbcType=DOUBLE},
			</if>
			<if test="consumeAmount != null">
				#{consumeAmount,jdbcType=DOUBLE},
			</if>
			<if test="discountAmount != null">
				#{discountAmount,jdbcType=DOUBLE},
			</if>
			<if test="status != null">
				#{status,jdbcType=BIT},
			</if>
			<if test="getStatus != null">
				#{getStatus,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activeDate != null">
				#{activeDate,jdbcType=TIMESTAMP},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="Card">
		update card
		<set>
			<if test="cardTypeId != null">
				card_type_id = #{cardTypeId,jdbcType=CHAR},
			</if>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=CHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="innerCode != null">
				inner_code = #{innerCode,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="beginDate != null">
				begin_date = #{beginDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				end_date = #{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="operator != null">
				operator = #{operator,jdbcType=VARCHAR},
			</if>
			<if test="auditor != null">
				auditor = #{auditor,jdbcType=VARCHAR},
			</if>
			<if test="auditDate != null">
				audit_date = #{auditDate,jdbcType=TIMESTAMP},
			</if>
			<if test="balance != null">
				balance = #{balance,jdbcType=DOUBLE},
			</if>
			<if test="giftBalance != null">
				gift_balance = #{giftBalance,jdbcType=DOUBLE},
			</if>
			<if test="realBalance != null">
				real_balance = #{realBalance,jdbcType=DOUBLE},
			</if>
			<if test="degree != null">
				degree = #{degree,jdbcType=BIGINT},
			</if>
			<if test="payAmount != null">
				pay_amount = #{payAmount,jdbcType=DOUBLE},
			</if>
			<if test="consumeAmount != null">
				consume_amount = #{consumeAmount,jdbcType=DOUBLE},
			</if>
			<if test="discountAmount != null">
				discount_amount = #{discountAmount,jdbcType=DOUBLE},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=BIT},
			</if>
			<if test="getStatus != null">
				get_status = #{getStatus,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activeDate != null">
				active_date = #{activeDate,jdbcType=TIMESTAMP},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="String">
		delete from card where
		id=#{id}
	</delete>
</mapper>