<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.dao.menu.MenuTypeDao">
	<resultMap id="menuTypeMap" type="MenuType">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="CHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="menu_type_name" property="menuTypeName"
			jdbcType="VARCHAR" />
		<result column="include" property="include" jdbcType="BIT" />
		<result column="valid" property="valid" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="parent_type_name" property="parentTypeName" />
	</resultMap>

	<!-- 查询所有分类 -->
	<select id="findAll" resultMap="menuTypeMap">
		select * from menu_type
	</select>
	
	<!-- 查找分类 -->
	<select id="findByParams" parameterType="Map" resultMap="menuTypeMap">
		select * from menu_type
		<where>
			<if test="noRoot != null and noRoot != ''">
				root != 1
			</if>
		</where>
	</select>
	
	<!-- 根据id查找分类 -->
	<select id="findOne" parameterType="String" resultMap="menuTypeMap">
		select a.*,b.menu_type_name as parent_type_name 
		from menu_type a left join menu_type b on a.parent_id = b.id  
		where a.id = #{id}
	</select>
	
	<!-- 根据商品类型名称查找 -->
	<select id="findByName" parameterType="String" resultMap="menuTypeMap">
		select id,menu_type_name from menu_type 
		<where>
			<if test=" _parameter != null and  _parameter != ''">
				and menu_type_name = #{menuTypeName}
			</if>
		</where>
	</select>
	
	<!-- 查找根分类 -->
	<select id="findRoot" resultMap="menuTypeMap">
		select * from menu_type where root = 1
	</select>
	
	<!-- 判断是否重名(修改界面要传id) -->
	<select id="findCountByParams" parameterType="Map" resultType="Long">
		select count(*) from menu_type
		<where>
			<if test="menuTypeName != null and menuTypeName != ''">
				and menu_type_name = #{menuTypeName}
			</if>
			<if test="id != null and id != ''">
				and id != #{id}
			</if>
		</where>
	</select>

	<!-- 添加分类 -->
	<insert id="save" parameterType="MenuType">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select REPLACE(UUID(),'-','')
		</selectKey>
		insert into menu_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="menuTypeName != null">
				menu_type_name,
			</if>
			<if test="include != null">
				include,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=CHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="menuTypeName != null">
				#{menuTypeName,jdbcType=VARCHAR},
			</if>
			<if test="include != null">
				#{include,jdbcType=BIT},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<!-- 更新分类 -->
	<update id="update" parameterType="MenuType">
		update menu_type
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=CHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="menuTypeName != null">
				menu_type_name = #{menuTypeName,jdbcType=VARCHAR},
			</if>
			<if test="include != null">
				include = #{include,jdbcType=BIT},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>