<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.framework.web.dao.seat.SeatDao">
	<resultMap id="BaseResultMap" type="Seat">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="area_id" property="areaId" jdbcType="CHAR" />
		<result column="seat_name" property="seatName" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="advise_num" property="adviseNum" jdbcType="INTEGER" />
		<result column="seat_kind" property="seatKind" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="reserve" property="reserve" jdbcType="TINYINT" />
		<result column="valid" property="valid" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="area_name" property="areaName" jdbcType="VARCHAR" />
		<result column="seat_kind_name" property="seatKindName" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 查询桌位分页 -->
	<select id="getPage" resultMap="BaseResultMap">
		select a.*, b.area_name, c.name as seat_kind_name 
		from seat a
		left join area b
		on a.area_id = b.id
		left join dict_seat_kind c
		on a.seat_kind = c.value
		<where>
			<if test="po.seatName != null and po.seatName != ''">
				and seat_name like CONCAT('%',#{po.seatName},'%')
			</if>
		</where>
	</select>
	
	<!-- 查找所有桌位 -->
	<select id="findAll" resultMap="BaseResultMap">
		select a.*, b.area_name, c.name as seat_kind_name 
		from seat a
		left join area b
		on a.area_id = b.id
		left join dict_seat_kind c
		on a.seat_kind = c.value
	</select>
	
	<!-- 根据id查找桌位 -->
	<select id="findOne" parameterType="String" resultMap="BaseResultMap">
		select a.*, b.area_name, c.name as seat_kind_name 
		from seat a
		left join area b
		on a.area_id = b.id
		left join dict_seat_kind c
		on a.seat_kind = c.value
		where a.id=#{id}
	</select>
	
	<!-- 判断是否重名(修改界面要传id) -->
	<select id="findCountByParams" parameterType="Map" resultType="Long">
		select count(*) from seat
		<where>
			<if test="seatName != null and seatName != ''">
				and seat_name = #{seatName}
			</if>
			<if test="id != null and id != ''">
				and id != #{id}
			</if>
		</where>
	</select>
	
	<!-- 删除桌位 -->
	<delete id="delete" parameterType="String">
		delete from seat where id=#{id}
	</delete>

	<insert id="save" parameterType="Seat">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select REPLACE(UUID(),'-','')
		</selectKey>
		insert into seat
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="areaId != null">
				area_id,
			</if>
			<if test="seatName != null">
				seat_name,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="adviseNum != null">
				advise_num,
			</if>
			<if test="seatKind != null">
				seat_kind,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="reserve != null">
				reserve,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="areaId != null">
				#{areaId,jdbcType=CHAR},
			</if>
			<if test="seatName != null">
				#{seatName,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="adviseNum != null">
				#{adviseNum,jdbcType=INTEGER},
			</if>
			<if test="seatKind != null">
				#{seatKind,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="reserve != null">
				#{reserve,jdbcType=TINYINT},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="Seat">
		update seat
		<set>
			<if test="areaId != null">
				area_id = #{areaId,jdbcType=CHAR},
			</if>
			<if test="seatName != null">
				seat_name = #{seatName,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="adviseNum != null">
				advise_num = #{adviseNum,jdbcType=INTEGER},
			</if>
			<if test="seatKind != null">
				seat_kind = #{seatKind,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="reserve != null">
				reserve = #{reserve,jdbcType=TINYINT},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>

</mapper>