<#if entitys?size gt 0 >
<div class="row">
	<#list entitys as entity>
		<div class="col-lg-3">
			<a class="thumbnail" data-target="#attachmentModal"
				data-toggle="modal" data-servicetype="menuContent"
				data-serviceid="${entity.id}" data-servicetitle="${entity.menuName}"> 
				<#if entity.imagePath = ""> 
					<img data-src="holder.js/100%x150/text:请上传图片" id="${entity.id}"/>
				<#else>
					<img src="${ctx}/${entity.imagePath}" id="${entity.id}"/>
				</#if> 
				<div class="caption" align="center">${entity.menuName}</div>
			</a>
		</div>
		<#if entity_index gte 3> 
			<#break/> 
		</#if> 
	</#list>
</div>
</#if>
<br />
<#if entitys?size gte 5 >
<div class="row">
	<#list entitys as entity> 
		<#if entity_index gte 4>
			<div class="col-lg-3">
				<a class="thumbnail" data-target="#attachmentModal"
					data-toggle="modal" data-servicetype="menuContent"
					data-serviceid="${entity.id}" data-servicetitle="${entity.menuName}"> 
					<#if entity.imagePath = ""> 
						<img data-src="holder.js/100%x150/text:请上传图片" id="${entity.id}"/>
					<#else>
						<img src="${ctx}/${entity.imagePath}" id="${entity.id}"/>
					</#if>
					<div class="caption" align="center">${entity.menuName}</div>
				</a>
			</div>
		</#if> 
	</#list>
</div>
</#if>

